.form-horizontal {
    /*margin-left: 150px;*/
    padding-left: 130px;
}
.form-control {
    width: 70%;
}
#inputProductDescription{
    height: 200px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}
.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
* + html .btn-file {
    padding: 2px 15px;
    margin: 1px 0 0 0;
}
.styleImg {
    padding: 10px;
    width: 150px;
    display: inline-block;
}