#messages{
    overflow: auto;
    height: 400px;
}
.message-div{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.message-box{
}
.message-left{
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin-right: 40%;
}
.message-right{
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin-left: 40%;
}
.mess-text-box{
    padding: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: #c7ddef;
}
.mess-text{
    word-break: break-all;
}
.message-right .mess-text-box{
}

