.caret-right {
    width: 0;
    height: 0;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.search-wrapper {
    margin-top: 50px;
}

.search-results a {
    color: black;
}

.search-results a .name {
    color: #2b669a;
}

.search-results a .description {
    height: 50px;
}

.content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.categories:after {
     content: " ";
     display: block;
     height: 0;
     clear: both;
 }