.search-wrapper {
    margin-top: 50px;
}

.categories {
    margin: 5px auto;
    width: auto;
}

.sub-category {
    display: inline-block;
    border-radius: 12px;
    padding: 2px 4px;
    margin: 4px auto;
}

.categories .table {
    margin-top: 25px;
    margin-bottom: 25px;
    border-collapse: collapse;
}

.categories .table td {
    line-height: 20px;
}

.categories .table th, .table td {
    border-top: none !important;
}

.categories .table td:first-child {
    border: none;
}

.categories .table td .sub-category {
    width: 100%;
    text-align: center;
    margin: -6px;
}

.categories .table td .sub-category:hover {
    color: white;
    background-color: #0077C8;
    cursor: pointer;
}

.subcategory-attributes .add-input-item {
    cursor: pointer;
    color: #28a4c9;
}

.subcategory-attributes .add-input-item:hover {
    cursor: pointer;
    color: #0077C8;
}

.attributes .panel-heading {
    display: block;
    background: #0077C8 none;
    color: white;
}

.attributes .panel-heading a {
    display: block;
    margin: 0 auto;
}

.attributes .attr-input-wrapper {
    display: inline-block;
    width: 120px;
    margin: 5px;
}

.attributes .attr-input-wrapper input {
    height: 25px;
}

.attributes .attr-input-wrapper .glyphicon {
    padding: 4px;
    color: #ddd;
    pointer-events: all;
}

.attributes .attr-input-wrapper .glyphicon:hover {
    color: #2b669a;
    cursor: pointer;
}

.attributes .attr-input {
    display: inline-block;
    height: 25px;
    width: 120px;
    margin: 5px;
}

.pagination-wrapper, .ordering-wrapper {
    display: inline-block;
}

.ordering-wrapper {
    float: right;
}

.ordering-wrapper .sorting-order-wrapper {
    cursor: pointer;
}

.ordering-wrapper .dropdown {
    display: inline-block;
    top: -32px;
}

.adverts-list-wrapper:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.search-results a {
    color: black;
}

.search-results a .name {
    color: #2b669a;
}

.search-results a .description {
    height: 50px;
}

.search-results .list-group-item:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #5cb85c;
    z-index: 2;
}

.search-results .list-group-item {
    height: 210px;
}

.search-results .list-group-item .img {
    width: 200px;
    height: 150px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    border: 3px solid #f9f9f9;
}

.search-results .list-group-item .img img {
    width: 200px;
    height: 150px;
}

.vip-adverts {
    margin-top: 75px;
    padding: 0px;
    border: 1px solid #d9534f;
}

.vip-adverts .vip-adverts-header {
    margin: 0;
    height: 30px;
    line-height: 30px;
    background-color: #d9534f;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #d9534f;
    border-radius: 5px 5px 0 0;
}

.vip-adverts .img img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.vip-adverts a {
    color: black;
}

.vip-adverts a .name {
    color: #2b669a;
}

.vip-adverts .list-group {
    margin: 20px;
}

.vip-adverts .list-group-item:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #d9534f;
    z-index: 2;
}

.content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.categories:after {
     content: " ";
     display: block;
     height: 0;
     clear: both;
 }

/*caret right*/
.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

/*dropdown submenu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: -100%;
    float: none;
    margin-left: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: black;
    margin-top: 5px;
    margin-right: -10px;
}

/*inner input addon*/
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    z-index: 10;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.new-mess{
    background-color: red;
    position: absolute;
    right: 10px;
    top: 70px;
    color: white;
    width: 170px;
    border-radius: 10px;
    text-align: center;
}
.new-mess:hover{
    cursor: help;
}