.desk {
    width: 100%;
    z-index: 4;
}

.sticker {
    position: absolute;
    z-index: 5;
    width: 35%;
    top: 53%;
    left: 34%;
}

.sticker img {
    width: 100%;
}

.sticker .message {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    max-width: 60%;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
}