div.users-message{
    padding: 15px;
    margin: 15px 4%;
    background-color: #dbdbdb;
    border-radius: 3px;
    width: 1000px;
    /*color: #fbfbfd;*/
}
div.users-message:hover{
    background-color: #bfbfbf;
    cursor: pointer;
    /*color: #23527c;*/
    /*border: 2px ridge black;*/
}
div.message-login{
    width: 800px;
    font-size: 22px;
    display: inline-block;
}
div.message-date{
    text-align: right;
    font-size: 18px;
    display: inline-block;
}
div.message-text{
    font-size: 18px;
    margin-left: 30px;

}
