/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.03.2016, 14:27:53
    Author     : Andrey
*/
.table-pos {
    margin-left: 100px;
    margin-right: 100px;
}

.attr-center{
    text-align: center;
    vertical-align: middle !important;
}

.img {
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: auto;
}

.graph-pos {
    margin-left: 100px;
    margin-right: 100px;
}

.table-params {
    border-collapse: initial;
}

.table-params td:first-child{
    width: 40%;
}

.table-params tr:first-child td{
    border-top: none;
}

.table-params td {
    padding-left: 100px !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.custom-tabs li a {
    background: #DCDCDC !important;
    transition: background 0.3s;
    color: #000
}

.custom-tabs .active a {
    background: #FFF !important;
}

.button-update:focus, .button-update:hover {    
    color: #23527c
}

.custom-tabs li a {
    background: #DCDCDC !important;
    transition: background 0.3s;
    color: #000
}

.custom-tabs .active a {
    background: #FFF !important;
}

.button-update:focus, .button-update:hover {    
    color: #23527c
}

.users-td {
    width:10%;
    float:left;
}

.moder-td{
  color:blue;
}
.admin-td{
  color:red;
}

.blocked-td{
  color:red;
}
.notblocked-td{
  color:grey;
}

.btn-small {
    width: 150px !important;
    padding: 3px 5px;
    font-size: 10px;
    line-height: normal;
    border-radius: 2px;
    }