/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.03.2016, 1:00:48
    Author     : Andrey
*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #C0C0C0;
}

.content {
  padding-bottom: 75px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  border-top : solid 2px #adadad;
}

.main {
    position: relative;
    min-height: 100%;
    width: 1100px;
    border-left : solid 2px #adadad;
    border-right : solid 2px #adadad;
    margin : 0 auto;
    background-color: #FFF;
}

.menu {
    float : left;
    font-size: 20px;
    margin-bottom: 0px;
}

#header {
    background: #0077C8;
    border-bottom : solid 2px #adadad;
    clear: both;
    overflow: hidden;
}

.menu li {
    list-style-type: none;
    float : left;
    margin : 10px 10px;
    color : #28a4c9;
}

.menu li:hover { 
    color : #b92c28;
    transition: all 2s;
}

a {
    text-decoration: none;
}

a:hover { 
    text-decoration: none;
} 

.a-outline:focus {
    outline: none;
    text-decoration: none;
}

.enter {
    float : right;
    font-size: 15px;
    margin : 10px 10px;
    width: 100px;
}

.block-footer {
    text-align: center;
    margin : 0 auto;
    display: block;
    overflow: hidden;
}

.tabs {
    margin-left: 20px;
    outline : none;
    transition: all 1s ease 0s;
    color: #DCDCDC;
    clear: both
}

.button-style {
    background: #00a9e0 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    width: 100px;
}

.button-style-enter {
    width: 100%;
}

.list-categories {
    padding: 10px;
}

.clearfix:after {    
   content:"";
   display:block;
   clear: both;
}

.list-categories-li {
    float: left;
    list-style: none;
}

.list-categories-li::after {
    content: ">";
    padding-left: 2px;
    padding-right: 4px;
}
.list-categories-li:last-child::after {
    content: "";
}

.references {
    margin-left: 20px;

}

.references-ul {
    list-style-type: none;
}

.references-ul-li {
    margin : 10px 10px;
}