<div ng-if="attrType == 'discrete_multi' || attrType == 'continous'">
    <div ng-switch on="attrType">
        <div ng-switch-when="discrete_multi">
            {{attrRuName}}:
            <input type="text" class="attr-input form-control" ng-repeat="item in multiInputItems"
                   ng-model="searchAttrs[attrNum].values[item.num]"
                   uib-typeahead="res for res in typeAhead(attrName, $viewValue)"
                   typeahead-min-length="2"
                   typeahead-wait-ms="300"
                   autocomplete="off" />
            <div class="glyphicon glyphicon-plus add-input-item" ng-click="addInputItem()"></div>
        </div>
        <div ng-switch-when="continous">
            {{attrRuName}}: от <input type="text" class="attr-input form-control" ng-model="searchAttrs[attrNum].values[0]" /> до
                               <input type="text" class="attr-input form-control" ng-model="searchAttrs[attrNum].values[1]" />
        </div>
    </div>
</div>